
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto", system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";      
    height: 100dvh;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    height: auto;
    font-style: italic;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

:root {
    --blue: #1992D4;
    --light-blue: #E2E8F0;
    --yellow: #F0B429;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}



#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}


#sidebar {
    min-height: 100vh;
    background-color: var(--blue);
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.header {
    grid-template-rows: repeat(2, 1fr);
    padding-left: 3rem;
    padding-right: 3rem;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 15px 15px -10px;
    padding-bottom: 1rem;
}

.search-top, .account {
    grid-template-columns: 2fr 1fr;
}

.search {
    gap: 1rem;
}

.notification {
    gap: 2rem;
    justify-self: flex-end;    
}

.notification > p {
    font-weight: 600;
}
.search > input {
    padding-left: 1rem;
    border: 1px solid var(--light-blue);
    background-color: var(--light-blue);
    width: 550px;
    border-radius: .75rem;
    outline-width: 0px;
}

.account-image {
    border: 1px red solid;
    border-radius: 50%;
    clip-path: circle();
    object-fit: cover;
}

.user, .header-buttons{
    gap: 2rem;
}

.text {
    font-weight: 700;
}

.text > h1 {
    font-size: 1.5rem;
}
button {
    font-weight: 600;
    color: white;
    background-color: var(--blue);
    border: 1px solid var(--blue);
    width: 90px;
    padding: .35em .30em;
    border-radius: 1.2rem;
    outline-width: 0;
    cursor: pointer;
}

.content {
    grid-column: 2 / 3;
    grid-template-columns: 2fr 1fr;
    background-color: var(--light-blue);
}

.projects {
    padding: 1rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.projects > h2 {
    grid-column: span 2;
    font-weight: 500;
}

.card {
    background-color: white;
    padding: 1rem;
    border-left: 5px solid var(--yellow);
    border-radius: .75rem;
    
    h2 {
        font-weight: 500;
    }
}



